
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root{
    --purpura_pastel: #6d50e1;
}

header{
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    position:relative;
    z-index: 100;
}

.contenedor__header{
    width: 1400px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;

}

.logo{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    padding-right: 10px;
}

.logo img{
    width: 200px;

}

.menu{
    display: flex;
    align-items: center;

}


/* BOTON BUSQUEDA*/

.container-1{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
  }


  .container-1 input#search{
    width: 300px;
    height: 50px;
    background: #4545461e;
    border: none;
    font-size: 10pt;
  }
  
/* BOTON INICIAR SEION*/


.btn_inicio{
    display: block;
    padding: 8px 40px;
    border: 2px solid var(--purpura_pastel);
    border-radius: 8px;
    font-weight: 500;
    margin: 0px 20px;
}

.btn_inicio:hover{
    color: rgb(255, 255, 255);
    background: var(--purpura_pastel);
}


.menu .redSocial{
    padding-right: 100px;

    margin: 0px 5px;
}

.menu .redSocial a{
    
    margin: 0px 5px;
}

.menu .redSocial img{
    width: 35px;
}



/*
 * Navegación
 */
 nav {
	float: right;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	padding-right: 20px;
}
	
nav ul li {
	display: inline-block;
	line-height: 80px;
}
			
nav ul li a {
	display: block;
	padding: 0 10px;
	text-decoration: none;
}
			
nav ul li a:hover {
	background: #eec3ea6e ;
}




section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    background-color: linear-gradient(to bottom, #f1f4f9, #dff1ff);
}
section .color {
   position: absolute;
   filter: blur(150px);    
}
section .color:nth-child(1) {
    top: -350;
    width: 600px; height: 600px;
    background-color: #ff359b;
}
section .color:nth-child(2) {
    bottom: -150px; left: 100px;
    width: 500px; height: 500px;
    background-color: #0128d6;
}
section .color:nth-child(3) {
    bottom: 50px; right: 100px;
    width: 300px; height: 300px;
    background-color: #00d2ff;
}
section .box {
    position: relative;
}
section .box .square {
    position: absolute;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    animation: animate 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
}
@keyframes animate {
    0%, 100% {transform: translate(-30px);}
    50% {transform: translate(30px);}
}
section .box .square:nth-child(1) {
    top: -50px;right: -60px;
    width: 100px; height: 100px;
}
section .box .square:nth-child(2) {
    top: 150px; left: -80px;
    width: 100px; height: 100px;
    z-index: 2;
}
section .box .square:nth-child(3) {
    bottom: 50px; right: -60px;
    width: 80px; height: 80px;
    z-index: 2;
}
section .box .square:nth-child(4) {
    bottom: -80px; left: 100px;
    width: 50px; height: 50px;
}
section .box .square:nth-child(5) {
    top: -80px; left: 140px;
    width: 60px; height: 60px;
}
section .container {
    position: relative;
    width: 400px;
    min-height: 400px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
}
section .container form {
    position: relative;
    padding: 40px
}
section .container .from h2 {
    position: relative;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 40px;
}
section .container .from h2::before {
    content: '';
    position: absolute;
    bottom: -10px;
    width: 80px; height: 4px;
    background: #fff;
}
section .container .from .inputBox {
    width: 100%;
    margin-top: 10px;
}
section .container .from .inputBox input {
    background: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
section .container .from .inputBox input::placeholder {
    color: #fff;
}
section .container .from .inputBox input[type="submit"] {
    background: #fff;
    color: #666;
    max-width: 100px;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: 600;
}
section .container .from .forget {
    margin-top: 5px;
    color: #fff;
}
section .container form .forget a {
    color: #fff;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: #fff;
    cursor: pointer;
    text-decoration: none;
}